<div class="header">
<div class="container">
  <div class="header_inner">
        <div class="row header_row">
          <div class="col-lg-2">
            <a href="" class="logo">
              <span class="logo_prefix">In</span>Web
            </a>
          </div>
          <div class="col-lg-8">
            <nav class="nav">
              <a href="" class="nav_link active">Главная</a>
              <a href="" class="nav_link">Услуги</a>
              <a href="" class="nav_link">Портфолио</a>
            </nav>
          </div>
          <div class="col-lg-2">
            <div class="lang">
              <a href="" class="lang_item active">Ru</a>
              <a href="" class="lang_item">Eu</a>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
