<div class="body">
  <div class="container">
    <img class="author" src="assets/1728494.svg" alt="">
    <div class="circle"></div>
    <div class="intro">
      <div class="intro_text">Меня зовут</div>
      <div class="intro_title">Алексей Бобров </div>
      <div class="intro_subtitle"> Учусь <span class="intro_subtitle_pink">вебдизайну</span></div>

      <div class="row">
        <div class="col-lg-3">
        <a href="" class="btn btn-pink"> Оставить заявку</a>
        </div>
        <div class="col-lg-9">
          <ul class="contacts">
            <li class="contacts_item">
              <a href="tel: +7 904 456 45 45" class="contacts_link">
                +7 904 456 45 45
              </a>
            </li>
            <li class="contacts_item">
              <a href="mailto: hello@inweb.com" class="contacts_link">
                hello@inweb.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
